<a href="https://colab.research.google.com/github/kurvamallesh/Machine-Learning-1/blob/main/Cross_Validation_Python_Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data collection and processing

In [8]:
#loading the csv data to a pandas dataframe
heart_data=pd.read_csv('/content/heart.csv')

In [9]:
# first 5 rows 
heart_data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [10]:
#last 5 rows
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [11]:
#the no of rows and columns in the data
heart_data.shape

(1025, 14)

In [12]:
#getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [13]:
#checking for null values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

There are no missing values

In [14]:
#Stastistical measure of the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [15]:
#checking the distribution of the target variable
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

1--->defective heart

0--->healthy heart

Spliting the features and target

In [16]:
x=heart_data.drop(columns='target', axis=1)
y=heart_data['target']
print(x)
print(y)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

#Train and test data spliting

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2, stratify=y, random_state=2)

In [18]:
print(x.shape,x_train.shape,x_test.shape)

(1025, 13) (820, 13) (205, 13)

Comparing the performance of the models

In [22]:
#List of models
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [23]:
def compare_models_train_test():

  for model in models:

    #training the model
    model.fit(x_train,y_train)

    #Evaluating the model
    test_data_prediction=model.predict(x_test)
    

    Accuracy=accuracy_score(test_data_prediction,y_test)

    print('Acuuracy of the',model,'=',Accuracy)

In [24]:
compare_models_train_test()

Acuuracy of the LogisticRegression(max_iter=1000) = 0.8146341463414634
Acuuracy of the SVC(kernel='linear') = 0.824390243902439
Acuuracy of the KNeighborsClassifier() = 0.7219512195121951
Acuuracy of the RandomForestClassifier() = 1.0

#**Cross** **Validation**

LogisticRegression

In [28]:
cv_score_lr=cross_val_score(LogisticRegression(max_iter=1000),x,y,cv=5)
print(cv_score_lr) 

mean_accuracy_lr=sum (cv_score_lr)/len(cv_score_lr)

mean_accuracy_lr=mean_accuracy_lr*100

mean_accuracy_lr=round(mean_accuracy_lr,2)

print(mean_accuracy_lr)

[0.88292683 0.85853659 0.87804878 0.82439024 0.80487805]
84.98

Support vector machine Classifier

In [29]:
cv_score_svc=cross_val_score(SVC(kernel='linear'),x,y,cv=5)
print(cv_score_svc) 

mean_accuracy_svc=sum (cv_score_svc)/len(cv_score_svc)

mean_accuracy_svc=mean_accuracy_svc*100

mean_accuracy_svc=round(mean_accuracy_svc,2)

print(mean_accuracy_svc)

[0.88292683 0.86829268 0.84390244 0.81463415 0.80487805]
84.29

Creating a function to compare the models

In [30]:
#List of models
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [33]:
def compare_cv_score_models():

  for model in models:
    
    cv_score=cross_val_score(model,x,y,cv=5)

    Mean_accuracy=sum(cv_score)/len(cv_score)

    Mean_accuracy=Mean_accuracy*100

    Mean_accuracy=round(Mean_accuracy,2)

    print('The cross validation accuracy of ',model,'= ',cv_score)
    print('Accuracy % of the ',model, Mean_accuracy)
    print('--------------------')

In [34]:
compare_cv_score_models()

The cross validation accuracy of  LogisticRegression(max_iter=1000) =  [0.88292683 0.85853659 0.87804878 0.82439024 0.80487805]
Accuracy % of the  LogisticRegression(max_iter=1000) 84.98
--------------------
The cross validation accuracy of  SVC(kernel='linear') =  [0.88292683 0.86829268 0.84390244 0.81463415 0.80487805]
Accuracy % of the  SVC(kernel='linear') 84.29
--------------------
The cross validation accuracy of  KNeighborsClassifier() =  [0.76585366 0.74634146 0.76097561 0.71219512 0.75121951]
Accuracy % of the  KNeighborsClassifier() 74.73
--------------------
The cross validation accuracy of  RandomForestClassifier() =  [1.         1.         1.         1.         0.98536585]
Accuracy % of the  RandomForestClassifier() 99.71
--------------------

Model Training

Logistic Regression model

In [ ]:
model=LogisticRegression()

In [ ]:
#Training the model with the data
model.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()