<a href="https://colab.research.google.com/github/kurvamallesh/Machine-Learning-1/blob/main/Precision%2C_Recall_and_F1_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Import** **dependencies**

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection and processing

In [5]:
#loading the csv data to a pandas dataframe
heart_data=pd.read_csv('/content/heart.csv')

In [6]:
# first 5 rows 
heart_data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [7]:
#the no of rows and columns in the data
heart_data.shape

(1025, 14)

In [8]:
#checking for null values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
#Ststisticsl measure of the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
#checking the distribution of the target variable
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

1--->defective heart

0--->healthy heart

Spliting the features and target

In [11]:
x=heart_data.drop(columns='target', axis=1)
y=heart_data['target']
print(x)
print(y)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]
0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

Train and test data spliting

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2, stratify=y, random_state=2)

In [13]:
print(x.shape,x_train.shape,x_test.shape)

(1025, 13) (820, 13) (205, 13)

Model Training

Logistic Regression model

In [14]:
model=LogisticRegression()

In [15]:
#Training the model with the data
model.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation


Accuracy score

In [16]:
#Accuracy on training data
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction, y_train)

In [17]:
print('training_data_accuracy',training_data_accuracy)

training_data_accuracy 0.8524390243902439

In [18]:
#Accuracy on test data
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction, y_test)

In [19]:
print('test_data_accuracy',test_data_accuracy)

test_data_accuracy 0.8048780487804879

#**Precision**

Precition is the no of true positive to the total number of predicted positive. It measures, out of the total predicted positive, how many are actually positive.

In [21]:
from sklearn.metrics import precision_score

In [22]:
#precision for training data predictions
precision_train=precision_score(y_train, x_train_prediction)
print('training data precision=', precision_train)

training data precision= 0.8260869565217391

In [23]:
#precision for test data predictions
precision_test=precision_score(y_test, x_test_prediction)
print('test data precision=', precision_test)

test data precision= 0.768595041322314

#**Recall**

In [24]:
from sklearn.metrics import recall_score

In [25]:
#recall for training data predictions
recall_train=recall_score(y_train, x_train_prediction)
print('training data recall=', recall_train)

training data recall= 0.9026128266033254

In [26]:
#recall for test data predictions
recall_test=recall_score(y_test, x_test_prediction)
print('test data recall=', recall_test)

test data recall= 0.8857142857142857

Recall is the no of true positive to the total number of actual positive. It measures, out of the total actual positive, how many are predicted as true positive.

#**F1 Score**

F1 score is an important evaluation metric for binary classification that combines **Precision** and **Recall**. F1 score is the harmonic mean of the precision and recall.

In [27]:
from sklearn.metrics import f1_score

In [29]:
#f1_score for training data predictions
f1_score_train=f1_score(y_train, x_train_prediction)
print('training data f1_score=', f1_score_train)

training data f1_score= 0.8626560726447219

In [30]:
#f1_score for test data predictions
f1_score_test=f1_score(y_test, x_test_prediction)
print('test data f1_score=', f1_score_test)

test data f1_score= 0.8230088495575221

Precision, Recall and F1 score

In [31]:
def precision_recall_f1_score(true_labels, pred_labels):

  precision_value=precision_score(true_labels, pred_labels)
  recall_value=recall_score(true_labels, pred_labels)
  f1_value=f1_score(true_labels, pred_labels)

  print('precision =', precision_value)
  print('recall =', recall_value)
  print('F1 score =',f1_value )

In [32]:
#classification metrics for training data
precision_recall_f1_score(y_train,x_train_prediction)

precision = 0.8260869565217391
recall = 0.9026128266033254
F1 score = 0.8626560726447219

In [33]:
#classification metrics for test data
precision_recall_f1_score(y_test,x_test_prediction)

precision = 0.768595041322314
recall = 0.8857142857142857
F1 score = 0.8230088495575221